artifact
venv
env
receiptenv
.gitignore
logs
template.py
demo.py
README.md
LICENSE
src.egg.-info
RemoteLike
Rough_Work
Experiments
receipt-user_accessKeys.csv
learning_flow.txt
Credentials.txt
receipt-ec2-key-pair.pem
Learnings
*.dio
.github